{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="initial-scale=1" />
    <meta property="og:title" content="Ayush" />
    <meta property="og:description" content="ayush's musings - who i think i am" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="ayush's musings"
      href="https://bafkreicb4gqyzoynassydivium6zd6rnt6v2sqxao6gb4jrktic7gpktf4.ipfs.nftstorage.link/"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://bafkreifqkr235pslre6z72puwacz4wb3lym2jfob7sp67xybhtqd2ypyie.ipfs.nftstorage.link/"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>creativegiant</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-151954055-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-151954055-3');
    </script>

  </head>
  <body>
    <div>
      <img
        class="avatar"
        src="{% static 'images/AyushSingh.jpg' %}"
        width="100"
        height="100"
      />
      <h4 class="subheading">ayush's musings: who I believe I am</h4>
    </div>
    <div class="posts">
      <div class="post">
        <div class="intro">
          <div class="hot-links">
            <a twitterDPrealCropped.png
              href = "https://bafkreigpipnr6n7hv3m2on6gmmtu4dlhn7d56pykaenagxw332jrpanza4.ipfs.nftstorage.link/"
              class="donate-button"
              target="_blank"
              >CV</a
            >
            <a class="feed-button"
              >Click somewhere for fun</a
            >
          </div>
          Yo.
          <p>I'm Ayush.</p>
          <p>
            I am a fellow enthusiast of liberty, rationalism, distributed web and an undergrad @ jec majoring in info-tech. 
            I occasionally engage in competitive programming, software dev to keep my brain from freezing. 
            For fun I watch movies, listen to podcasts and og songs.
          </p>
          <p>
            I like the idea of changing the world one day.
          </p>
          <p>
            Send me a hi, I will reply because I care: ayushsingh.as1700 [at] gmail.com
          </p>
        </div>

        <table>
          <tr>
            <td class="recent-heading">
              <span class="recent-heading">Recent Activities</span>
            </td>
          </tr>

          <tr>
            <td class="table-post">
              <div class="date">02/22 - now</div>
              <a
                href="https://codeforces.com/profile/AyushS_cg170"
                class="post-link"
              >
                <span class="post-link"
                  >Competitive programming on Codeforces</span
                >
              </a>
            </td>
            <td class="table-stats">
              <span class="stats-number">solo</span>
            </td>
          </tr>

          <tr>
            <td class="table-post">
              <div class="date">04 — 2022</div>
              <a href="http://immutable-ideas.herokuapp.com/" class="post-link">
                <span class="post-link">Immutable Ideas project on Polygon</span>
              </a>
            </td>
            <td class="table-stats">
              <span class="stats-number">team</span>
            </td>
          </tr>

          <tr>
            <td class="table-post">
              <div class="date">05 — 2022</div>
              <a href="https://github.com/Ayush170-Future/Pastry-DHT" class="post-link">
                <span class="post-link">Pastry-DHT implementation in Java</span>
              </a>
            </td>
            <td class="table-stats">
              <span class="stats-number">solo</span>
            </td>
          </tr>
          <tr>
            <td><a href="/posts" class="post-end-link"></a></td>
          </tr>
        </table>
        <div class="separator"></div>
        <div class="footer">
          <a href="https://twitter.com/Ayush_cg" target="_blank">Twitter</a> ·
          <a href="https://medium.com/@ayushhh" target="_blank">Medium</a> ·
          <a href="https://www.linkedin.com/in/ayush-singh-170/" target="_blank"
            >LinkedIn</a
          >
          · <a href="https://github.com/Ayush170-Future" target="_blank">Github</a> ·
          <a href="mailto:ayushsingh.as1700@gmail.com">Mail</a> ·
          <a href="https://github.com/Ayush170-Future/CreativeGiant">This site is open source</a>
        </div>
      </div>
    </div>
    <br><br>
    <div id="bottomcorner" class="bottomcorner">
      <p id="bc-watermark">🚀🤝</p>
    </div>
    <div class="bottomrightcorner">
      <button style="background-color: rgba(0,0,0,0); border: none;" onclick="changeMusicState()" data-cf-modified-b96ef7fd6dbda305516c5883-="">
      <img src="{% static 'images/Mute_Icon.svg' %}" id="mute" width="30vw" height="30vw" style="filter: brightness(0) invert(1);">
      <img src="{% static 'images/Speaker_Icon.svg' %}" id="unmute" style="filter: brightness(0) invert(1); display: none;" width="30vw" height="30vw">
      </button>
    </div>
    <script>

      // Title animation
      function typingAnimation(delay, arr, index) {
          document.title = arr[index];
          index++;
          if(index >= arr.length) {
              index = 0;
          }
          window.setTimeout(function() {
              typingAnimation(delay, arr, index)
          }, delay);
      }
      function starttypingAnimation(arr, delay) {
          window.setTimeout(function() {
              typingAnimation(delay, arr, 0);
          }, delay);
      }

      function createtypingAnimation(text, finalRepeat) {     // Final repeat is the amount of elements that will be repeated
          var arr = [];
          var startRepeat = Math.round(finalRepeat/2);
          var endRepeat = finalRepeat - startRepeat;
          for(i = 0; i<startRepeat; i++) {    // Starting repeat
              arr.push(text);
          }
          
          var len = text.length
          for(endSlice = len-1; endSlice>0; endSlice--) {     // Getting smaller
              arr.push(text.slice(0, endSlice));
          }

          for(endSlice = 2; endSlice<len; endSlice++) {     // Getting larger
              arr.push(text.slice(0, endSlice));
          }

          for(i = 0; i<endRepeat; i++) {      // Ending repeat
              arr.push(text);
          }

          return arr;
      }

      function starttypingAnimation(arr, delay) {
          window.setTimeout(function() {
              typingAnimation(delay, arr, 0);
          }, delay);
      }

      starttypingAnimation(createtypingAnimation("creativegiant.xyz", 5), 450);

      function updateTitleToDomain() {
          var title = document.getElementById('title')
          var newText = "creativegiant.xyz"
          title.setAttribute("data-text", newText);
          title.innerText = newText;
      }

      // Music

      function pickImageAndMusic() {

          var songs = [
              "{% static 'songs/ItsNotSoBad.mp3' %}",
              "{% static 'songs/TakeOnMe.mp3' %}",
              "{% static 'songs/ChamberOfReflection.mp3' %}",
              "{% static 'songs/MrsRobinson.mp3' %}",
              // "{% static 'songs/Shakira.mp3' %}",
              "{% static 'songs/llShowYouHowGreatIAm.mp3' %}",
            "{% static 'songs/BILLIEEILISH.mp3' %}",
              "{% static 'songs/CaliforniaDreams.mp3' %}",
              "{% static 'songs/Maniac.mp3' %}",
              "{% static 'songs/Bones.mp3' %}",
            "{% static 'songs/AManWithOutLove.mp3' %}",
              "{% static 'songs/GlimpseofUs.mp3' %}",
            "{% static 'songs/SomethingStupid.mp3' %}",
              // "{% static 'songs/Mahabharat.mp3' %}",
          ]
          

          var song = String(songs[Math.floor(Math.random() * songs.length)]);
          
          console.log(song)
          var player = document.createElement('audio');
          player.setAttribute('id', 'player');
          player.setAttribute('src', song);
          player.setAttribute('loop', 'true');
          document.body.appendChild(player);
      }

      function playMusic() {
        var player = document.getElementById('player')
        console.log('yo')
        if(player.paused) {
          console.log('inside paused');
          player.play();
        }

        // On play
        player.onplay = function() {
            if (!player.muted) {
                var mute_button = document.getElementById('mute');
                var unmute_button = document.getElementById('unmute');

                // Show unmute, hide mute
                mute_button.style.display = "none";
                unmute_button.style.display = "";
            }
        }
      }

      function changeMusicState() {
        console.log('music state change')

        var mute_button = document.getElementById('mute');
        var unmute_button = document.getElementById('unmute');

        var player = document.getElementById('player');
        if(player.muted || mute_button.style.display == "") {
            player.muted = false;
            mute_button.style.display = "none";
            unmute_button.style.display = "";
        }
        else {
            player.muted = true;
            mute_button.style.display = "";
            unmute_button.style.display = "none";
        }
    }

    document.addEventListener('click', playMusic);
    document.addEventListener('DOMContentLoaded', pickImageAndMusic, false);
    document.addEventListener('DOMContentLoaded', playMusic, true);

    </script>
  </body>
</html>
